.main_chat
  .main_chat__group
    .main_chat__group__main-header__left-box
      .main_chat__group__main-header__left-box__name
        = @group.name
      .main_chat__group__main-header__left-box__member
        Member : 
        - @group.users.each do |user| 
          = user.name
        
    .main_chat__group__main-header__right-box
      = link_to edit_group_path(@group), class:"main_chat__group__main-header__right-box__edit-btn" do
        edit


  .main_chat__message
    .messages
      = render @messages

  .main_chat__message-form
    .main_chat__message-form__new-message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main_chat__message-form__new-message__text', placeholder: 'type a message'
        = f.label :image, class: 'main_chat__message-form__new-message__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'main_chat__message-form__new-message__image__file'
        = f.submit 'Send', class: 'main_chat__message-form__new-message__submit-btn'

